<!DOCTYPE html>
<html lang="en">
<head>
    <title>Анкета</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function validate() {
            var valueName = $('name').val();
            alert($('#name').attr('Введите имя'))
            var valueLastName = $('lastname').val();
            var valueDescription = $('description').val();

            if (valueName == '') {
                alert($('#name').attr('Введите имя'))
            }

            if (valueLastName == '') {
                alert($('#lastname').attr('Введите фамилию'))
            }

            if (valueDescription == '') {
                alert($('#description').attr('Введите описание'))
            }
        }
    </script>
</head>
<body>


<div class="container">
    <div class="container-fluid">
        <h1>Анкета</h1>
        <p>Заполните поля: </p>
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="lastname">Lastname:</label>
        <input type="text" class="form-control" id="lastname">
    </div>
    <div class="form-group">
        <label for="sex">Sex:</label>
        <label>
            <input type="radio" name="sex">
        </label> Male
        <label>
            <input type="radio" name="sex">
        </label> Female
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description">
    </div>
    <div class="checkbox">
        <label><input type="checkbox">Remember me</label>
    </div>
    <button type="submit" class="btn btn-default" onclick="return validate()">Submit</button>
</div>

<div class="container">
    <h2>Таблица</h2>
    <p>Ваши данные:</p>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Sex</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mary</td>
            <td>Susan</td>
            <td>Female</td>
            <td>Some desc</td>
        </tr>

        </tbody>
    </table>
</div>


</body>
</html>