<?xml version="1.0" encoding="utf-8"?>


<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/userstore</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>

        <mapping class="ru.job4j.models.Car"/>
        <mapping class="ru.job4j.models.Engine"/>
        <mapping class="ru.job4j.models.Driver"/>
        <mapping class="ru.job4j.models.HistoryOwner"/>
    </session-factory>
</hibernate-configuration>