<html lang="en">
<head>
    <title>To-Do List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https:////netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>
        function createitem() {
            var id = $('#id').val();
            var desc = $("#description").val();
            var created = $("input:radio[name='sex']:checked").val();
            var done = $("#description").val();

            $.ajax({
                type: 'POST',
                url: 'http://localhost:8080/create',
                dataType: 'text'
            }).done(function (data) {
                $('table tr:last').after('<tr><td>' + id + '</td><td>' + desc + '</td><td>' + created + '</td><td>' + done + '</td> </tr>');
            })
        }
    </script>

</head>
<body>

<div class="container">
    <h1>Your diary</h1>
    <p>Fill in the fields: </p>

    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Description:</h4>
                </div>
                <div class="panel-body" id="description">
                    <textarea style="width: 100%; padding-bottom: 20px"></textarea> <br/> <br/>
                    <button type="button" class="btn btn-primary pull-right" onclick="createitem()">Add Item</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Filter</h4>
                </div>

                <div class="panel-body" style="padding-bottom: 83px">
                    <label>Select finished <input type="checkbox" id="status"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 style="text-align: center">Tracker</h2>
        <p style="text-align: center">Your items:</p>
        <div class="col-md-12">

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Task id</th>
                    <th>Description</th>
                    <th>Create date</th>
                    <th>Finished</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>