<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>ViewItemsServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.ViewItemsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewItemsServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddItemsServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.AddItemsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddItemsServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteItemsServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.DeleteItemsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteItemsServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateStatusItemsServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.UpdateStatusItemsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateStatusItemsServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    
</web-app>